body {background-color: black;
      }
.screen-on{display: block;}
.screen-off{display: none;}

#start-page{ margin-top: 20px;}
             
                         

h1 {font-size: 3.0rem;
    text-align: center;
    padding: 10px;
    color:rgb(211, 18, 18);
    }

p {font-size: 2.0rem;
    text-align: center;
    color: rgb(230, 230, 11)}

h3 {margin: 3px 0px 4px 2px;
    }

#settings{ font-size: 2.5rem;
           border-style: solid; 
           border-width: 1px;
           line-height: 5rem;
           width: 40%;
           padding: 15px;
           margin: 0px 10px 0px 100px;
           background-color: rgb(55, 165, 79);
}

#slot-machine{ width: 500px;
               float: right;
               margin: 0 200px 0 0;          
}

#theme{ padding: 0 0 0 10px;}

#name {height:3.0rem;
       width: 20.0rem;
       font-size: 2.0rem;}

select {height: 3.0rem;
        width: 10rem;
        font-size: 2.0rem;}

#start-game{height: 4.0rem;
            width: 15.0rem;
            font-size: 2rem;
            
            }
#score-table{background-color: rgb(230, 230, 11);
             line-height: 3rem;
             font-size: 3rem;
             width: 20%;
             padding: 10px 10px 10px 20px;
              }

#message-area {color: rgb(55, 165, 79);
              font-size: 3rem; }

#output-area {width: 80%;
              background-color: white;
              margin: auto;
              height: 40%;
              }